*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
}
#splash {
    background-image: radial-gradient(circle at 65% -5.99%, #b697e7 0, #9581e0 25%, #6c6cd8 50%, #2a59d1 75%, #004aca 100%);;
}

#intro-headers{

}
.center-splash-header{
    font-size: 6vh;
    font-family: sans-serif;
    padding: 50vh 0 50vh 0;
    text-align: center;
    color: azure;
}
.home-page-section {
    width: 100%;
    height: 75vh;
}
.home-page-section-header{
    font-size: 5vh;
    font-family: sans-serif;
    width: 70vw;
    margin: 30vh 15vw 30vh 15vw;
    transition: all, .25s;
    color: azure;
    text-shadow: 0 0 5px #112;
    text-align: center;
    filter: blur(0);
    position: absolute;
}
a{
    color: inherit;
}

.home-page-section-header:hover {
    transform: scale(.95);
    text-shadow: 0 0 8px #EEF;
}
#home-page-section-1-img {
    background-image: url("./asset/code-stock-photo.jpg");
    filter: blur(6px);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: inherit;
}
#home-page-section-2-img {
    background-image: url("./asset/boss.jpg");
    filter: blur(6px);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: inherit;
}


nav#sticky-nav{
    position: sticky;
    position: -webkit-sticky;
    top:0;
    height: 60px;
    background-color: midnightblue;
    color: azure;
    z-index: 1000;
}


.nav-icon {
    margin: 0;
    padding-top:5px;
    padding-left: 5px;
    width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}
.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.nav-icon:hover div {
    transform: scale(0);
}

.arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid azure;
    border-right: 5px solid azure;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 3s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}